NEXT_PUBLIC_SUPABASE_URL=https://xklatpwuquwuxdsodvov.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY==sb_publishable_f4eQyaciU9Uer25tSUKtew_Bk9d9C5S

# Optional but recommended for auth email links and callback redirects
NEXT_PUBLIC_SITE_URL=http://localhost:3000
